/* Global stuff */

:root {
  --bg-color: #fff;
  --florette-color: #a61212;
  --font-color: #282828;
  --link-color: #00e;
  --slider-bg-color: #ccc;
  --slider-circle-color: #fff;
}

[data-theme='dark'] {
  --bg-color: #26282a;
  --florette-color: #fcaaaa;
  --font-color: #e6e6e6;
  --link-color: #eab499;
  --slider-bg-color: #eab499;
  --slider-circle-color: #e6e6e6;
}

/* Styles for content */

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: Merriweather, serif;
  margin: auto;
  max-width: 80ch;
  padding: 2ch;
}

li,
p {
  hyphens: auto;
  line-height: 1.5;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

sup {
  position: relative;
  top: -0.4em;
  vertical-align: baseline;
}

.author {
  display: none;
}

.florette {
  color: var(--florette-color);
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 1.8rem;
}

.footnote-back {
  margin-left: 0.3em;
}

.footnotes {
  font-size: smaller;
}

.footnotes a {
  overflow-wrap: break-word;
}

.footnotes hr {
  display: none;
}

.footnotes li {
  padding-left: 0.2em;
}

.separator {
  display: flex;
  justify-content: center;
}

#body-text sup {
  font-family: 'Noto Serif', Merriweather, serif;
}

#notes {
  margin-top: 2rem;
}

/* Styles for theme switch */

.slider {
  background-color: var(--slider-bg-color);
  cursor: pointer;
  inset: 0;
  position: absolute;
  transition: 0.4s;
}

.slider::before {
  background-color: var(--slider-circle-color);
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.theme-switch-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.theme-switch-wrapper-main {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
